@font-face {
   font-family: 'Digital-Serial-Regular';
   font-display: swap;
   src: url('file:///Users/larrylush/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2025-02-19_125934/fonts/Digital-Serial-Regular/font.ttf');
}
